.block__header {
    background-color: $color-darkcream;
}

.block__main_content {
    background-color: $color-cream;
    padding-top: 25px;
}

.block__footer {
    border-bottom: 15px solid $color-green;
}