//Theme Variables
@import "colors";
@import "typography";

$night-mode: false;

$ribbon-background-color: $color-darkcream;
$ribbon-font-color: $font-color;
$ribbon-stitches-color: lighten($color-darkcream, 10%);

//Bootstrap Theme overrides
$theme-colors: (
  "primary": $color-orange,
  "success": $color-green
);

$card-border-width: 0;

@import "node_modules/bootstrap/scss/bootstrap";
@import "socials";
@import "night_mode";
@import "layout";
@import "ribbons";
@import "toppings";

body {
    font-family: "Acme", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 23px;
    background: url(../../img/bodybg.png) repeat;
}

.card .card-body .card-text {
    min-height: 70px;
}

#navigation .navbar-brand img {
	max-width: 300px;
}

.carousel .active, .carousel .next, .carousel .prev {
    display: block;
}

.footerli {
    border-top: 1px solid #CCC;
    border-bottom: 2px solid #fff;
    margin-bottom: 25px;
}

.bottomCards {
    padding: 32px;
}

.contactInfo {
    padding: 32px;

    iframe {
        width: 100%;
    }
}

.pizza-box {
    width: 16px;
}

.toppings {
    ul {
        li {
            margin-bottom: 10px;
        }
    }
}